input{
    margin-bottom: 10px;
}

input[type="text"]{
    border-radius: 4px;
}

input[name="pass"]{
    margin-right: 10px;
}

.notYetValid{
    border-color: grey;
}

.valid{
    border-color: green;
}

.invalid{
    border-color: red;
}