input{
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="text"]:active,
input[type="text"]:focus {
    outline: none;
    border: 2px solid grey;
    border-radius: 4px;
}

#passCheck>h4{
    margin: 0px;
}

#passCheck>ul{
    margin-top: 5px;
}

#pass{
    margin-right: 10px;
}

input[type="text"].valid{
    border-color: green;
}

input[type="text"].invalid{
    border-color: red;
}

.hidden{
    display: none;
}