input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.inBox,
.inBox:active,
.inBox:focus {
    outline: none;
    border: 2px solid grey;
    border-radius: 4px;
}

#passCheck>h4{
    margin: 0px;
}

#passCheck>ul{
    margin-top: 5px;
}

#pass{
    margin-right: 10px;
}

.inBox.valid{
    border-color: green;
}

.inBox.invalid{
    border-color: red;
}

span.checkers{
    margin-left: 10px;
}

.hidden{
    display: none;
}

.checkers ul{
    color: grey;
    list-style-type: none;
    text-align: left;
    padding: 0px;
}

.checkers li.valid{
    color: green;
    padding-left: 2px;
}