.main{
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.form-control{
    width: 50%;
    justify-self: center;
    border: 2px solid gray;
}

.hidden{
    visibility: hidden;
}

.float-end{
    clear: left;
}

.header li{
    padding: 10px;
}